{% load thumbnail %}
{% load hidden %}


{% load pagination_tags %}
{% load bootstrap_pagination %}
{% autopaginate positions %}
<div class="col-lg-12">
<div class="panel panel-default">
<h3 class="panel-heading">Members of Parliament</h3>
<div class="panel-body">
    <div class="text-center row search-filters">
        <form method="get">
            <span><i class="fa fa-globe"> Where: </i><span>
            <select name="place_slug">
                <option value="All">All</option>
                {% for place in places  %}
                    <option
                        {% if place_slug = place.slug %}selected="selected"{% endif %}
                        value="{{ place.slug }}">{{ place.name }} ({{ place.kind.name }})
                    </option>
                {% endfor %}
            </select>

            <input class="btn btn-xs  btn-default" type="submit" value="Search" />
        </form>

        <form method="get">
            <span><i class="fa fa-globe"> Order By: </i><span>
            <select name="order">
                <option {% if order = 'place' %}selected="selected"{% endif %}value="place">Constituency</option>
                <option {% if order = 'name' %}selected="selected"{% endif %} value="name">Name</option>
            </select>

            <input class="btn btn-xs  btn-default" type="submit" value="Search" />
        </form>

        <p><i class="fa fa-globe"> Filter by date ranges: </i></p>
        <form method="get">
            <span>Start date </span><select name="start_date">
                {% for mp_end_date, mp_start_date in date_choices %}
                <option {% if start_date = mp_start_date %}selected="selected"{% endif %}value={{ mp_start_date }}>{{ mp_start_date }}</option>
                {% endfor %}
            </select>
            <span>End date </span><select name="end_date">
                {% for mp_end_date, mp_start_date in date_choices %}
                <option {% if end_date = mp_end_date %}selected="selected"{% endif %} value={{ mp_end_date }}>{{ mp_end_date }}</option>
                {% endfor %}
            </select>
            <input class="btn btn-xs  btn-default" type="submit" value="Search" />
        </form>
    </div>

    <ul class="list-group listing position-listing">
     {% for position in positions %}
        {% with position.person as person %}
        <li class="col-xs-12 col-sm-6 list-group-item text-center positionArea">

            <a href="{{ person.get_absolute_url }}">
                {% thumbnail person.primary_image "100x100" as img %}
                <img class="img-thumbnail img-circle" src="{{ img.url }}" alt="{{ person.name }}" class="avatar"
                     width="{{ img.width }}" height="{{ img.height }}" />
                {% empty %}
                <img class="img-thumbnail img-circle" src="{{ STATIC_URL}}images/avatar.png" width="100" height="100"/>
                {% endthumbnail %}
            <h3 class="name">{{ person.name }}</h3>
            </a>
            <strong><i class="fa fa-institution"> Party: </i></strong>
            <a href="{{ person.parties.0.get_absolute_url }}">{{ person.parties.0.name }}</a>
            <strong><i class="fa fa-globe"> Constituency: </i></strong>
            <a href="{{ person.constituencies.0.get_absolute_url }}">
                {{ person.constituencies.0.name }}
            </a>

        </li>
        {% endwith %}
        {% empty %}
            <li>No records found.</li>
        {% endfor %}
    </ul>


    {% if page_obj.paginator.num_pages > 1  %}
    <div class="col-xs-12 row text-center">
            {% bootstrap_paginate page_obj range=10 show_prev_next="true" show_first_last="true" %}
    </div>
    {% endif %}
</div>
</div>
</div>
